<!DOCTYPE html>
<html ng-app="TORE">
<head>
    <title>ANGULAR READS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/bower_components/picnic/releases/latest.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script>google.load('feeds', '1');</script>
    <!--
    <script src="/lib/oauth.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha1.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>
    -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
</head>
<body ng-controller="MainController as main">
    <aside ng-controller="SidebarController as sidebar" ng-class="{ settings: sidebar.editing }">
        <header ng-class="{ loading: sidebar.loading }">
            <h1>All Feeds</h1>
            <button class="button success" ng-click="sidebar.toggleSearch()" ng-class="{ active: sidebar.searching }">
                <span class="entypo-plus"></span>
            </button>

            <menu ng-class="{ results: sidebar.query }">
                <div ng-click="sidebar.saveFeed(feed);sidebar.toggleSearch(false)"
                    ng-repeat="feed in sidebar.searchResults" ng-bind-html="feed.title">
                </div>
            </menu>

            <input type="text" placeholder="Search for a feed..."
                ng-model="sidebar.query"
                    focus="{{ sidebar.searching }}"
                        ng-keydown="$event.which==13 && sidebar.search($event) ||
                                        $event.which==27 && (sidebar.query ? sidebar.resetQuery() : sidebar.toggleSearch(false))" />
        </header>
        <ul class="saved">
            <div ng-repeat="feed in sidebar.feeds" ng-click="main.toggleFeed(feed)" ng-class="{ active: feed.active }">
                <div class="settings">
                    <button class="button error" ng-click="sidebar.removeFeed(feed); $event.stopPropagation();">
                        <span class="entypo-cancel"></span>
                    </button>
                </div>
                <div>
                    <h2 ng-bind-html="feed.title"></h2>
                    <span class="unread">{{ feed.unread }}</span>
                </div>
            </div>
        </ul>
        <footer>
            <button class="button" ng-click="sidebar.editing=!sidebar.editing">
                <span class="entypo-cog"></span>
            </button>
        </footer>
    </aside>
    <main>
        <section ng-if="!main.activeFeeds.length">
            <h2>NO FEEDS SELECTED</h2>
        </section>
        <section ng-repeat="feed in main.activeFeeds">
            <div ng-repeat="entry in feed.entries" ng-click="main.entry=entry">
                <h2>{{ entry.title }}</h2>
                <div></div>
                <div>{{ entry.publishedDate }}</div>
                <div>
                    <button class="button dull">
                        <span class="entypo-dot-3"></span>
                    </button>
                </div>
            </div>
        </section>
    </main>
    
    <article ng-class="{ active: main.entry }" ng-click="main.entry=null">
        <main>
            <header>
                <h2>{{ main.entry.title }}</h2>
            </header>
            <div ng-if="!!main.entry">
                <iframe ng-src="{{ main.entry.link }}" frameborder="no"></iframe>
            </div>
        </main>
    </article>

    <script src="src/app.js"></script>
    <script src="src/directives/focus.js"></script>
    <script src="src/services/feeds.js"></script>
    <script src="src/controllers/main.js"></script>
    <script src="src/controllers/sidebar.js"></script>
</body>
</html>