@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
	  font-family: 'entypo', sans-serif;
}

html {
	font: 62.5%/1.4 sans-serif;
}

html, body {
	background-color: #FFF;
	height: 100%;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: row;
	font-size: 1.6em;
}

aside {
	align-items: stretch;
	border-right: 2px solid rgba(220,220,220,0.6);
	display: flex;
	flex-direction: column;
	flex: 0.2;
	overflow: hidden;

	transform: translate3d(0,0,0);
}

main {
	flex: 0.8;
	overflow: scroll;
}

aside h1 {
	background-color: #333;
	color: #FFF;
	font-size: 1.6em;
	line-height: 2em;
	margin: 0;
	padding: 0;
	position: relative;
	text-indent: 0.3em;
	width: 100%;
	z-index: 2;
}

aside menu {
	background-color: rgba(255,255,255,1);
	border: 2px solid rgba(240,240,240,0.8);
	border-bottom: none;
	position: absolute;
	left: 0.2em;
	right: 0.2em;
	top: 1.7em;
	margin: 0;
	overflow: hidden;
	padding: 0;
	transform: translate3d(0,-150%,0);
	transition: transform 350ms ease;
	z-index: 1;
}

aside button.active + menu.results {
	transform: translate3d(0,1.7em,0);
}

aside menu div {
	background-color: #FFF;
	border-bottom: 2px solid rgba(240,240,240,0.8);
	color: #333;
	cursor: pointer;
	font-weight: bold;
	padding: 0.5em;
	white-space: nowrap;
}

aside menu div:hover {
	background-color: rgba(78,179,229,1);
	color: #FFF;
}

aside header, aside footer {
	background-color: #333;
	display: flex;
	flex: 0.1;
	max-height: 50px;
	position: relative;
	width: 100%;
}

aside button.button {
	position: absolute;
	height: 40px;
	padding: 0;
	margin: 0;
	width: 40px;
	top: 0.3em;
	right: 0.5em;
	z-index: 4;
}

aside .saved div .settings {
	border-bottom: 2px solid rgba(240,240,240,0.8);
	top: 0;
	bottom: -2px;
	left: 0;
}

aside header button.button {
	border-right: 0.5em solid #333;
	right: 0em;
}

aside header.loading button.button span {
	-webkit-animation: rotate 200ms ease;
}

@-webkit-animation-keyframes {
	0% {
		transform: rotateX(0deg);
	}

	100% {
		transform: rotateX(360deg);
	}
}

aside header input {
	display: block;
	height: 1.8em;
	left: 0.2em;
	padding: 0.2em;
	position: absolute;
	right: 0.5em;
	top: 0.15em;
	width: 100%;
	z-index: 3;

	transform: translate3d(100%,0,0);
}

button.active + menu + input {
	transform: translate3d(0,0,0);
}

aside ul {
	flex: 0.85;
	list-style: none;
	margin: 0;
	padding: 0;
	transform: translate3d(0,0,0);
	transition: transform 350ms ease;
}

aside.settings ul.saved {
	transform: translate3d(15%,0,0);
}

aside .saved > div {
	border-bottom: 2px solid rgba(240,240,240,0.8);
	cursor: pointer;
	padding: 0.2em 0.5em 0;
}

aside .saved > div.active {
	background-color: rgba(255, 255, 0, 0.2);
	border-bottom-color: rgba(180,180,180,1);
}

aside .saved > div:hover {
	background-color: rgba(78,179,229,1);
	color: #FFF;
}

aside .saved > div.active:hover {
	background-color: rgba(255, 255, 0, 0.2);
	color: #333;
}

aside.settings .saved div:hover {
	background-color: #FFF;
	color: #333;
}

aside .saved > div {
	white-space: nowrap;
	position: relative;
}

aside .saved > div > .settings {
	position: absolute;
	transform: translate3d(-100%,0,0);
	text-align: center;
	width: 15%;
}

aside .saved .settings button {
	right: 0;
	width: 100%;
	height: 100%;
	top: 0;
}

aside .saved h2 {
	font-size: 1em;
	max-width: 90%;
	line-height: 2em;
	margin: 0;
	padding: 0.4em 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

aside .saved .unread {
	background-color: rgba(78,179,229,1);
	border-radius: 5px;
	color: #FFF;
	font-size: 0.6em;
	margin-top: 0.6em;
	padding: 0.2em 0.5em;
	position: absolute;
	right: 1em;
}

aside .saved div h2, aside .saved div .settings {
	display: inline-block;
}

aside footer {
	align-self: flex-end;
}

main section {
	display: flex;
	flex-direction: column;
	padding: 0;
	position: relative;
}

main section > h2 {
	color: rgba(200,200,200,1);
	text-align: center;
}

main section > div {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	padding: 0.6em 0 0.3em;
	border-bottom: 2px solid #DDD;
	position: relative;
}

main section > div:hover {
	background-color: rgba(229,229,229,0.7);
}

main section > div div, main section > div h2 {
	display: inline-block;
	font-size: 1em;
	flex: 0.1;
	overflow: hidden;
	padding: 0 0.2em;
	white-space: nowrap;
	text-overflow: ellipsis;
}

main section > div > h2 {
	flex: 0.5;
	margin: 0;
}

main section > h2 + div {
	flex: 0;
}

main section > h2 + div + div {
	flex: 0.4;
}

main section > div div:last-child {
	flex: 0.05;
}

main section button {
	display: block;
	position: absolute;
	height: 100%;
	bottom: 0.2em;
	width: 40px;
}

body > article {
	background-color: rgba(255,255,255,0.7);
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate3d(0,0,0);
	transition: opacity 250ms ease;
	z-index: 10;
}

body > article > main {
	align-items: stretch;
	align-content: stretch;
	background-color: #FFF;
	border: 2px solid #333;
	border-bottom: none;
	display: flex;
	flex-direction: column;
	margin: 50px auto 0;
	position: relative;
	transform: translate3d(0,200px,0);
	transition: transform 450ms ease;
	height: calc(100% - 50px);
	width: 70%;
}

body > article main header {
	flex: 0.1;
	height: 60px;
	max-height: 140px;
	padding: 0.5em;
}

body > article > main > div {
	align-items: stretch;
	align-content: stretch;
	align-self: stretch;
	flex: 1;
	display: flex;
} 

body > article.active {
	opacity: 1;
	pointer-events: all;
	transform: translate3d(0, 0, 0);
}

body > article.active > main {
	transform: translate3d(0, 0, 0);
}

body > article.active > main iframe {
	flex: 1;
	transition: opacity 150ms ease;
	transform: translate3d(0,0,0);
}

button,
button:active,
button:hover,
button:focus {
	box-shadow: none !important;
	border-radius: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

button.button span[class*="entypo"] {
	display: inline-block;
	transform: translate3d(0,0,0);
	transition: transform 100ms ease;
}

button.button:hover span[class*="entypo"] {
	transform: translate3d(0,-2px,0);
}

button.button:active span[class*="entypo"] {
	transform: translate3d(0,2px,0);
}

button.button:hover {
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.5) !important;
}

button.button:active {
	box-shadow: none !important;
}

button.button.error {
	background-color: rgba(235, 65, 54, 1) !important;
}

button.button.error:hover {
	background-color: rgba(255, 65, 54, 1) !important;
}

button.button.error:active {
	background-color: rgba(205, 65, 54, 1) !important;
}